<div class="row">
  <div class="col-7">
    <div class="card mt-2">
      <div class="card-header bg-info">
        Add Material
      </div>
      <div class="card-body">
        <form (ngSubmit)="onClickAddMaterial()" class="form-inline">
          <input type="text" placeholder="Material" name="name" class="form-control" [(ngModel)]="newMaterial.name" required/>
          <input type="text" placeholder="Density in g/cm3" name="density" class="form-control ml-4" [(ngModel)]="newMaterial.density" required/>
          <button type="submit" class="btn btn-primary ml-4">Add</button>
        </form>
        <p class="text-danger mb-0 pl-1 mt-2 ">{{ formError }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-7">
    <div class="table-wrapper-scroll-y">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Material Name</th>
            <th scope="col" class="text-center">Density</th>
            <th scope="col" class="text-center">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let material of materials;let i = index">
            <th scope="row" class="text-center">{{ i+1 }}</th>
            <td class="text-center">{{ material.name }}</td>
            <td class="text-center">{{ material.density }}</td>
            <td class="text-center"><button class="btn btn-sm btn-danger" (click)="onDeleteMaterial(material.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>